{{<layout.mustache}}
{{$body}}

      <div class="container">
        <div class="flex-grid">
          <form method="get">
              <div class="row cells4 flex-just-center">
                  <div class="cell size4 margin5">
                    <img src={{book.img}}>
                  </div>
              </div>
              <div class="row cells4 flex-just-center">
                <div class="cell size2 margin5">
                  <lable>Book Name : </lable>
                  <div class="input-control text full-size">
                      <input type="text" readonly="" value="{{book.name}}">
                  </div>
                </div>
                <div class="cell size2 margin5">
                  <lable>Book Author : </lable>
                  <div class="input-control text full-size">
                      <input type="text" readonly="" value="{{book.author}}">
                  </div>
                </div>
              </div>
              <div class="row cells4 flex-just-center">
                <div class="cell size2 margin5">
                  <lable>Book ISBN-10 : </lable>
                  <div class="input-control text full-size">
                      <input type="text" readonly="" value="{{book.isbn10}}">
                  </div>
                </div>
                <div class="cell size2 margin5">
                  <lable>Book ISBN-13 : </lable>
                  <div class="input-control text full-size">
                      <input type="text" readonly="" value="{{book.isbn13}}">
                  </div>
                </div>
              </div>
              <div class="row cells4 flex-just-center">
                <div class="cell size4 margin10">
                  <lable>Book Description : </lable>
                  <div class="input-control text full-size">
                      <input type="text" readonly="" value="{{book.desc}}">
                  </div>
                </div>
              </div>

              <div class="row cells4 flex-just-center">
                <div class="cell size2 margin5">
                  <button type="submit" class="button loading-pulse lighten primary full-size">Download NOW</button>
                </div>
                <div class="cell size1 margin5">
                  <button type="submit" formaction="/edit/{{book.isbn13}}" class="button warning block-shadow-warning text-shadow full-size">Edit</button>
                </div>
                <div class="cell size1 margin5">
                  <button type="submit" formaction="/delete/{{book.isbn13}}" class="button danger block-shadow-danger text-shadow full-size">Delete</button>
                </div>
              </div>
          </form>
        </div>
      </div>

{{/body}}
{{/layout.mustache}}
