{{<layout.mustache}}
{{$body}}

    <div class="container">
      <div class="flex-grid">
        <div class="row cell12">
            <div class="cell size3 margin5">
              <form method="post">
                <div class="input-control text full-size" data-role="input">
                    <input type="text" name="isbn" placeholder="Search ISBN">
                    <button class="button"><span class="mif-search"></span></button>
                </div>
              </form>
            </div>
        </div>
        {{#arrayOfBookArray}}
            <div class="row cell12">
              {{#.}}
                <div class="cell size3 margin5 flex-just-center flex-align-center">
                  <a href="http://localhost:7070/b/{{isbn13}}">
                  <img src="{{img}}">
                  </a>
                </div>
              {{/.}}
            </div>
        {{/arrayOfBookArray}}
      </div>
    </div>

{{/body}}
{{/layout.mustache}}
